body{
    font-family: Arial, sans-serif;
}

nav{
    width: 100%;
    height: 62px;
    background: #344051; 
}

.logo{
    color: #fff;
    font-size: 28px;
    padding-left: 390px;
    line-height: 62px;
    float: left;    
}

.menu{
    float: left;
    padding-left: 430px;
}

.menu li{
    float: left;
    line-height: 62px;
    color: white;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
}

.menu li a{
    color: white;
}

.main{
    width: 100%;
    height: 1018px;
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.jpg) center/cover no-repeat;
}

.title__container{
    float: left;
    margin: 430px 0px 0px 400px;
    color: #2c384a;
    text-align: center;
}

.title__container h1{
    font-size: 60px;
    font-weight: bold;
}

.title__container h4{
    font-size: 20px;
    margin-top: 40px;
    color: #79818d;    
}

.title__container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    color: #6d7682;
    margin: 55px 14px 0px 14px;
    border-radius: 5px;
    font-size: 13px;
    padding: 0px 16px;
}

.about_me{
    width: 100%;
    height: 720px;
    background: #fff;
}

.about_me_container h2{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    color: #263244;
    padding-top: 108px;
}

.about_me_container img{
    display: block;
    margin: 30px auto;
}

.p1{
    width: 720px;
    margin: 20px auto;
    color: #525a68;
    font-size: 16px;
    text-align: justify;    
    }

.p2{
    width: 720px;
    margin: 40px auto;
    color: #525a68;
    font-size: 16px;
    text-align: justify;
   }
    
.about_me_container a{
    display: block;
    width: 160px;
    height: 40px;
    margin: 35px auto;
    color: #6f707e;
    border: 3px solid #6f707e;
    padding-left: 40px;
    font-size: 12px;
    line-height: 40px;
    border-radius: 8px;
    background: url(../img/input.png) 15%/auto no-repeat;
    }

.skills{
    width: 100%;
    height: 525px;
    background: url(../img/bg2.jpg) 100%/auto no-repeat;
}

.skills_container{
    width: 920px;
    margin: 0 auto;
}

.skills_container h2{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    color: #263244;
    padding-top: 100px;
}

.skills_container img{
    display: block;
    margin: 30px auto;
}

.skills_item{
    float: left;
    width: 230px;
    text-align: center;
    margin-top: 50px;
}

.skills_item h3{
    color: #cf7600;
    font-size: 16px;
    font-weight: bold;
    }

.skills_item p{
     color: #5d6472;
    font-size: 14px;
    padding-top: 15px;
}

.portfolio{
    width: 100%;
    height: 1180px;
    background: white;
}

.portfolio_container h2{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    color: #384354;
    padding-top: 100px;
}

.portfolio_container img{
    display: block;
    margin: 30px auto;
}

.portfolio_container p{
    text-align: center;
    color: #525a68;
    font-size: 16px;
    margin-top: 35px;
    margin-bottom: 40px;
}

.description_left{
    width: 220px;
    float: left;
    margin-left: 315px;
    }

.description_left h3{
    color: #384354;
    text-align: left;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
}

.h3_up{
    margin-top: 40px;
}

.description_left p{
    color: #636a76;
    text-align: left;
    font-size: 18px;
    margin: 15px 0;
   }
.description_left a{
    display: block;
    width: 200px;
    height: 45px;
    border: 0px solid;
    border-radius: 5px;
    background: #63b5ae;
    color: #fff;
    text-align: center;
    line-height: 45px;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: -2px;
    font-weight: bolder;
    word-spacing: 2px;
}

.description_right{
    width: 860px;
    float: left;
    margin-left: 70px;
    }

.description_right h4{
    color: #384354;
    margin-top: 40px;
    font-size: 26px;
    font-weight: 500;
    text-align: left;
}

.description_right p{
    color: #636a76;
    font-size: 18px;
    text-align: left;
    margin-top: 5px;
    line-height: 25px;
}

.calculator{
    width: 100%;
    height: 750px;
    background: white;
}

.calculator_container{
    width: 920px;
    height: 630px;
    margin: 140px 0px 0px 430px
}

.calculator_container h2{
    color: #1c2534;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -4px;
}

.calculator_container h3{
    color: #1c2534;
    text-align: left;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -1px;
    padding-top: 50px;
    text-transform: uppercase;
}

#typeSite{
    width: 890px;
    height: 50px;
    background: #eeeeee;
    margin-top: 20px;
    padding-left: 25px;
    font-size: 16px;
    color: #7d7d7d;
    font-weight: 600;    
}

.calculator_container hr{
    width: 890px;
    height: 2px;
    background: #eee;
    margin-top: 40px;    
}

.calculator_footer{
    margin: 20px 0px;
    color: #1c2534; 
    font-size: 24px;
    font-weight: bolder;
    }

.days p{
    float: left;
}

.terms{
    margin-left: 805px;
}

.price p{
    float: left;
    margin-top: 10px;
}

.price_r{
    margin-left: 750px;
    margin-top: 10px;
}

.statistic{
    width: 100%;
    height: 500px;
    background: url(../img/bg3.jpg) 100%/auto no-repeat;
}

.statistic_container h2{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    color: #384354;
    padding-top: 105px;
    letter-spacing: -3px;
}

.statistic_container{
    width: 1200px;
    margin: 0 auto;
}

.statistic_item{
    display: inline-block;
    width: 170px;
    text-align: center;
    margin: 60px 60px 0px 60px;
        }

.statistic_item h3{
    color: #323e4f;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 35px;
}

.statistic_item p{
    color: #323e4f;
    font-size: 16px;
    margin-top: 20px;
    letter-spacing: -2px;
    text-transform: uppercase;
}
    
.reviews{
    width: 100%;
    height: 600px;
    background: white;
}
.reviews_container img{
    display: block;
    margin: 30px auto;
}

.reviews_container h2{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    color: #384354;
    padding-top: 100px;
    letter-spacing: -3px;
}

.review{
    margin-top: 60px;
}

.review p{
    margin-top: 40px;
    color: #333e4f;
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    letter-spacing: -1px;
    }

.michael{
    font-size: 22px;
    font-weight: 400;
}

.scroll{
    width: 100px;
    margin: 45px auto;
}

.scroll img{
    display: inline-block;
    width: 15px;
    margin: 0px 5px 0px 5px;
    text-align: center;
}

.contacts{
    width: 100%;
    height: 805px;
    background: url(../img/bg4.jpg) 100%/auto no-repeat;
}

.contacts_container h2{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    padding-top: 100px;
    letter-spacing: -3px;
}

.stat_cherta{
    display: block;
    margin: 0px auto;
    margin-top: 30px;
}

.contacts_data{
    width: 800px;
    height: 145px;
    margin: 0px auto;
    }

.contact_up{
    width: 800px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    margin: 0px auto;
}

.contacts_data_item{
    display: inline-block;
    width: 180px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    margin: 40px 40px 0px 40px;
}

.contacts_container h3{
    color: #fff;
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}

.contacts_inputs{
    width: 780px;
    height: 50px;
    text-align: center;
    margin: 0px auto;
    margin-top: 45px;
    }

.contacts_inputs input{
    width: 350px;
    height: 35px;
    background: #d2d6dc;
    margin: 0px 15px 0px 15px;
    line-height: 35px;
    padding-left: 15px;
    font-size: 20px;
}

.contacts_container textarea{
    display: block;
    margin: 10px auto;
    width: 740px;
    height: 95px;
    margin-top: 10px;
    background: #d2d6dc;
    padding: 5px 0px 0px 15px;
    font-size: 20px;
}

.otpr{
    display: block;
    width: 150px;
    height: 60px;
    border: 3px solid #fff;
    margin: 30px auto;
    background: none;
    color: #fff;
    border-radius: 5px;
    font-size: 24px;
}

.contacts_social{
    width: 440px;
    margin: 55px auto;
    }

.contacts_social a{
    margin: 0px 22px 0px 22px;
}

.map img{
    width: 100%;
    height: 350px;
}

.footer{
    width: 100%;
    height: 95px;
    background: #354051; 
}

.footer_container{
    text-align: center;
    font-size: 18px;
    color: #fff;
    line-height: 95px;
    }